@mixin title($fz:20px, $start:#333, $end:#666, $pd:15px) {
  background: linear-gradient(-90deg, $start, $end);
  font-size: $fz;
  padding: $pd 0;
}
.app {
  width: 1000px;
  margin: 0 auto;

  @media screen and (max-width:1000px) {
    width: 100%;
  }
  &_title {
    @include title();
    color: #eee;
    margin: 0 0 30px;
  }

  &_result {
    display: flex;
    @media screen and (max-width:1000px) {
      display: block;
    }
    &_column {
      width: 600px;
      margin: 20px 0 0 50px;
      @media screen and (max-width:1000px) {
        width: 90%;
        margin: 0 auto;
      }
    }
    &_subtitle {
      @include title(18px, #aaa, #ccc, 10px);
      border-left: 5px solid #999;
    }
  }
}
