.geocode-result {
  width: 600px;
  margin: 20px auto;
  padding: 20px 0;
  text-align: left;
  list-style-type: none;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #fff;
}
.geocode-result li {
  margin: 0;
  border-bottom: 1px dotted #aaa;
  padding: 15px 0;
}
.geocode-result li:last-child {
  border: none;
}
