.geocode-result {
  padding: 20px 0;
  text-align: left;
  list-style-type: none;
  border-top: 1px solid #fff;
  height: 150px;
  margin-bottom: 115px;
}
.geocode-result li {
  margin: 0;
  border-bottom: 1px dotted #aaa;
  padding: 20px 0;
  font-size: 1.2rem;
}
