.map {
  height: 620px;
  width: 350px;
  margin: 20px 0;
  border: 1px solid #aaa;
  box-shadow: 0 0 15px #ccc;
  @media screen and (max-width:1000px) {
    width: 90%;
    height: 300px;
    margin: 20px auto;
  }
}
